@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #91AAFF;
    --color-deepblue: #7391FF;
    --color-gray: rgba(153, 153, 153, 0.425);

    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    --size-border-radius: 4px;

    --animation-duration: 300ms;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'MaplestoryOTFBold',sans-serif;
    margin: 0;
    padding-top: 80px;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    padding-left: 0;
}

li{
    list-style: none;
}

button{
    background-color: var(--color-white);
    cursor: pointer;
    border: none;
    outline: none;
}

h1{
    font-size: var(--font-large);
    font-weight: bold;
    color: var(--color-black);
    margin: 16px 0px;
}

h2{
    font-size: var(--font-medium);    
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-regular);    
    color: var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

#up__arrow{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    border: 3px solid black;
    border-radius: 50%;
    background: none;
    opacity: 0;
    pointer-events: none;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--color-blue);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar--bold{
    background-color: var(--color-deepblue);
    padding: 10px;
}

#up__arrow.up--arrow{
    pointer-events: all;
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-white);
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-white);
    cursor: pointer;
}

.navbar__menu__item.active{
    border: 1px solid white;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover{
    background-color: var(--color-deepblue);
    border-radius: var(--size-border-radius);
}

.navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

#home{
    background: url(./images/background.png) center/cover no-repeat;
    padding: 40px;
    text-align: center;
    padding-top: 80px;   
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 25%;
    border: 2px solid var(--color-white);
}
.home__avatar:hover{
    transform: scale(1.1);
    opacity: 0.5s;
}

.home__title, .home__description {
    color: var(--color-white);
    text-shadow: 3px 3px 1px black;
}

.home__contact {    
    color:var(--color-black);
    font-size: var(--font-regular);
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-black);
    border-radius: var(--size-border-radius);
}

.section{
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
       
}

#skills{
    padding-top: 0; 
}

#about{
    padding-bottom: 0;
}

.about__majors {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-deepblue);
    border: 1px solid var(--color-deepblue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.major__icon i {
    transform: all var(--animation-duration) ease;
}

.major__icon:hover i {
    color: var(--color-deepblue);
    transform: rotate(-30deg) scale(1.1);
}

.testimonial>img{
    width: 70%;
    height: 70%;
}

.name>a{
    color: var(--color-black);
}

.skillset__title{
    font-size: var(--font-large);
}

.work__projects img{
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-blue);
}

.major__title, .major__description {
    color: var(--color-deepblue);
}

.major__description {
    font-size: var(--font-small);
}

.job__name, .job_period{ 
    color: var(--color-deepblue)
}

.job__name {
    font-size: var(--font-small);
}

.job>img{
    float: left;
    width: 20%;
    height: 20%;
}

.job__right{
    padding: 10px 120px 120px 120px;
    
}

.job__period {
    font-size: var(--font-micro)
}

.about__jobs{
    padding-left: 350px;
}

.skillset__title{
    color: var(--color-deepblue);
}


.skillset{
    display: flex;
    border: 3px var(--color-deepblue) solid;
    margin: 20px 0;
    box-shadow: 0px 0px 5px black;
}

.skillset__left{
    flex-basis: 60%;
    background-color: var(--color-white);
    padding: 40px 40px;
}

.skillset__right{
    background-color: var(--color-white);
    padding: 20px 40px;
    flex-basis: 40%;
}

.skill{
    margin-bottom: 32px;
}

.skill__description{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.skill__bar {
    width: 100%;
    height: 15px;
    background-color: var(--color-gray);
    border-radius: 20px;
}

.skill__value{
    margin-top: 5px;
    height: 15px;
    background-color: var(--color-blue);
    border-radius: 20px;
}

.tools{
    padding: 20px;
    background-color: var(--color-white);
}

.etc {
    padding: 20px;
}

/* 내 작업실 */

.work__categories{
    margin: 40px;
}

.category__btn {
    border: 3px solid var(--color-blue);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    font-weight: bold;
    padding: 8px 0px;
    width: 150px;    
}

.category__btn.active, .category__btn:hover{
    background-color: var(--color-deepblue);
    color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count{
    opacity: 1;
    top:0;
}

.category__count {
    background-color: var(--color-blue);
    border-radius: 50%;
    color:var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease;
}
/* 
.work__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */
/* 배치 */

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: #7391FF;    
}
/* 프로젝트 */

.project__img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}
/* 프로젝트 이미지 */

.project__description {
    position: absolute;
    background-color: var(--color-blue);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description{
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-white)
}

.project__description h3:after{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-deepblue);
}

/* 추천서 */
#testimonials {
    background-color: var(--color-blue);
}

.testimonials{
    margin: 40px;
}

.testimonial {
    display: flex;
    margin: 32px 0;
}

img.testimonial__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.testimonial__avatar:nth-child(odd){
    margin-right: 40px;
}

.testimonial__avatar:nth-child(even){
    margin-left: 40px;
}

.testimonial_speech-bubble{ 
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
    width: 100%;
}

.testimonial__speech-bbuble p {
    color: var(--color-gray);
}

.testimonial__speech-bubble a {
    color: pink;
}

/* Contact */
#contact{
    background-color: var(--color-deepblue);
}

.contact__title, .contact__email, .contact__rights{
    color: var(--color-white);
}

.contact__title {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover{
    transform: scale(1.1);
    color: var(--color-black);
}

.section__container > h1, .section__container > h3{
    color: var(--color-white);
}

@media screen and (max-width:768px) {
    .navbar__toggle-btn {
        display: block;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .about__majors {
        flex-direction: column;
    }

    .major {
        margin-bottom: 38px;
    }

    .skillset {
        flex-direction: column;
    }

    .project {
        flex-grow: 1;
    }

    .testimonial__avatar {
        width: 80px;
        height: 80px;
    }
}